
body {
    overflow-x: hidden; /* Prevents horizontal scrolling*/
    font-family: 'Roboto', sans-serif;
    color: #616971;
}

/*---------------------GENERAL STYLES-------------------*/

.border-primary{
    border: 3px solid #746657 !important; 
}

.card-text {
    color: #0c2231 !important;
}

.btn-outline-dark {
    background-color: #0F2027!important;
    color: #746657;
    border:1px solid #746657 !important;
}

/*-------------------NAVBAR------------------------*/

.bg-dark {
    background-color: #0F2027!important;
}

.navbar-brand img {
    height: 3rem;
}

.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    position:fixed;
	top:0;
	left:0;
	width:100%;
    z-index:1;
}

.nav-item {
    padding:0.5rem;
}

.btn-primary {
    background-color: #0F2027;
    border: none;
    font-size: 1.15rem;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #0F2027;
}

.nav-link:hover {color: #746657!important}

/*-------------------HEADER---------------------------------*/

.header {
    background-image: url('../image/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height:100vh;
    position: relative;
    box-shadow: 0 1rem 1rem rgba(0,0,0 .1);
}

.header-text {
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -55%);
    color:  #0F2027;
} 

/*-------------------SLIDE/CAROUSEL-----------------------------*/

#carousel {
    box-shadow: 0 1rem 1rem rgba(0,0,0 .1);
}

.carousel-inner {
    max-height: 35rem !important; 
}

.carousel-control-prev,
.carousel-control-next {
    color: #0F2027!important;
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    transition: transform 1.2s ease;
}

/*------------------------JUMBOTRON-----------------------------*/

.jumbotron {
    background-image: url(../image/jumbo-bg.svg);
    margin-bottom: 0;
}

.jumbotron h1 {
    text-align: center;
}

.form-group {
    opacity: 0.6;
}

.btn-secondary {
    background-color: #3F3D56;
    border-color: #3F3D56;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #6C63FF;
}

/*-----------------------FOOTER--------------------------------*/


footer img {
    height: 3.5rem;
    margin: 1rem auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #746657;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
}

ul.social li {
    margin: 0 auto;
    padding: 0;
}

footer .svg-inline--fa {
    font-size: 2.3rem;
}

/*------------------------MODAL---------------------------------*/

.modal-bg {
    background-color:ivory;
}

.modal h2 {
    color: #2B282C;
    text-align: center;
}



